/* 10 */
:root {
  --chess-bg-dark: #b58863;
  --chess-bg-light: #f0d9b5;
  --frame-bg: #7d6c5e;
  --frame-text-color: #fff;
  --frame-width: 40px;
  --frame-font-size: 24px;
  --chess-size: 100px;
}

/* 0 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* 1 */
img {
  vertical-align: middle;
}

/* 10 */
.chess__row {
  clear: both;
}

/* 10 */
.chess__item {
  width: var(--chess-size);
  height: var(--chess-size);
  float: left;
  text-align: center;
  line-height: var(--chess-size);
}

/* 40 */
.chess__row:nth-child(odd) .chess__item:nth-child(odd),
/* 40 */
.chess__row:nth-child(even) .chess__item:nth-child(even) {
  background-color: var(--chess-bg-light);
}

/* 40 */
.chess__row:nth-child(odd) .chess__item:nth-child(even),
/* 40 */
.chess__row:nth-child(even) .chess__item:nth-child(odd) {
  background-color: var(--chess-bg-dark);
}

/* 40 */
.chess .chess__row .chess__item:first-child,
/* 40 */
.chess .chess__row .chess__item:last-child, 
/* 40 */
.chess .chess__row:first-child .chess__item, 
/* 40 */
.chess .chess__row:last-child .chess__item {
  background-color: var(--frame-bg);
  font-family: Arial, sans-serif;
  font-size: var(--frame-font-size);
  color: var(--frame-text-color);
}

/* 40 */
.chess .chess__row .chess__item:first-child,
/* 40 */
.chess .chess__row .chess__item:last-child {
  width: var(--frame-width);
}

/* 40 */
.chess .chess__row:first-child .chess__item, 
/* 40 */
.chess .chess__row:last-child .chess__item {
  height: var(--frame-width);
  line-height: var(--frame-width);
}
